#bigBox{
  position: absolute;
  left: 50%;
  margin-left: -120px;
}

#menu{
  display: grid;
  grid-template-columns: 120px 120px;
  width: auto;
}

.menuBox{
  width: 120px;
  height: 20px;
  text-align: center;
  border: 2px solid black;
  background-color: blue;
}

.activeBox{
  width: 240px;
  height: fit-content;
  border: 2px solid black;
}
