nav{
  width: 100%;
  background-color: teal;
  display: flex;

}

nav>div{
  padding: 5px;
  color: white;
}

nav>div:hover{
 background-color: rgb(0, 75, 75);
}

nav>div a{
  
  color: white;
  text-decoration: none;
}